@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box; /* */
  --icon-width: 20px;
  --icon-height: 20px;
  --standard-font: 'Roboto', sans-serif;
}

/* 2. Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; /* */
}

/* 3. Remove list styles on lists that are given a role attribute */
ul[role='list'],
ol[role='list'] {
  list-style: none; /* */
}

/* 4. Ensure images are responsive and block-level */
img {
  max-width: 100%;
  display: block; /* */
}

/* 5. Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit; /* */
}

/* DASHBOARD START */
body {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 150px 1fr;
	grid-template-areas: 
		"sidebar header"
		"sidebar main";
	height: 100vh;
	margin: 0;

	font-family: var(--standard-font);
	font-weight: 600;
}
/* 
body > div {
	border: 1px solid red;
} */

/* SIDEBAR */

#sidebar { /*General sidebar area*/
	grid-area: sidebar;
	background-color: rgb(0, 153, 255);
	padding-left: 15px;
	padding-top: 15px;

	display: flex; 		/* lays out sidebar in column format*/
	flex-direction: column;
	gap: 20px;
}

.icon { /*smaller icon control*/
	height: var(--icon-height);
	width: var(--icon-width);
	fill: white;
}

svg.big-icon { /*for the top logo*/
	height: calc(var(--icon-height)+10px);
	width: calc(var(--icon-width)+10px);
	fill: white;
}

.side-link.logo { /*specifically for the top logo padding*/
	grid-template-columns: 30px 1fr;
	padding-bottom: 20px;
	gap: 8px;
}

.side-link { /*remaining smaller sidebar links*/
	text-decoration: none;

	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
	color: white;
	gap: 12px;
}

.side-link.technical-support {
	padding-top: 50px;
}

/* HEADER SECTION */

#header {
	grid-area: header;

	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 75px 75px;
	grid-template-areas:
		"search-bar notifications"
		"greeting actions";
}

/* #header > div {
	border: solid 1px red;
} */

.search-bar {
	grid-area: search-bar;
	display: flex;
	align-items: center;
	gap: 8px;
	padding-left: 50px;
}

.s-icon {
	height: 30px;
	width: 30px;
	fill: black;
	padding-top: 5px;
}

.search-bar > input {
	flex: 1;
	height: 35%;
	min-width: 200px;
	max-width: 500px;

	border-radius: 15px;
	background-color: rgb(229, 227, 227);
	border-style: none;
	padding-left: 15px;
	font-size: 80%;
}

.notifications {
	grid-area: notifications;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
	gap: 30px
}

#bell {
  height: 24px;
  width: 24px;
  fill: black;
}

#smallPic {
  height: 40px;
  width: 40px;
}

.notifications span {
  font-weight: 700;
  white-space: nowrap;  /* Prevent name from wrapping */
}

.greeting {
	display: flex;
	align-items: center;
}

.greeting > svg {
	height: 60px;
	flex: 1;
}

.greeting > span {
	flex: 3;
}

.actions {
	grid-area: actions;
	display: flex;
	align-items: center;
	padding: 30px;
	margin-left: 20px;
	margin-right: 20px;
	gap: 20px;
}

.actionBtn {
	flex: 1;
	font-size: 15px;
	height: 35px;
	border-radius: 25px;
	border-style: none;
	background-color: rgb(0, 153, 255);
	color: white;
}


/* MAIN CONTENT SECTION */
#main {
	grid-area: main;
	background-color: rgb(234, 230, 230);
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-areas: 
		"title"
		"cards";
}

.title {
	grid-area: title;
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-areas: "t1 t2";
	align-items: end;

}

#t1 {
	grid-area: t1;
	padding-left: 20px;
}

#t2 {
	grid-area: t2;
}

.cards {
	grid-area: cards;
}

#main > div {
	border: solid 1px red;
}